<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gigapixel_Zipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <userSettings>
    <Gigapixel_Zipper.Properties.Settings>
      <setting name="ZipLocation"        serializeAs="String"><value /></setting>
      <setting name="GigapixelLocation"  serializeAs="String"><value /></setting>
      <setting name="IgnoredSize"        serializeAs="String"><value>400*400</value></setting>
      <setting name="IgnoredWords"       serializeAs="String"><value>preview</value></setting>
      <setting name="BatchSize"          serializeAs="String"><value>50</value></setting>
      <setting name="PhotoAIZipLocation" serializeAs="String"><value /></setting>
      <setting name="PhotoAIAppLocation" serializeAs="String"><value>C:\Program Files\Topaz Labs LLC\Topaz Photo\Topaz Photo.exe</value></setting>
      <setting name="PhotoAIIgnoredSize" serializeAs="String"><value>400*400</value></setting>
      <setting name="PhotoAIIgnoredWords" serializeAs="String"><value>preview</value></setting>
      <setting name="PhotoAIBatchSize"   serializeAs="String"><value>50</value></setting>
    </Gigapixel_Zipper.Properties.Settings>
  </userSettings>
</configuration>
